/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap
*= require grails
*= require main
*= require mobile
*= require_self
*/


.buttons {
    border-radius: 4px;
    padding: 2px 8px;
    margin: 4px;
}
.buttons:hover {
    background-color: #999999;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.buttons:active {
    background-color: #994a00;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.buttons.select {
    background-color: #efefef;
    border-radius: 4px;
    padding: 2px 8px;
    margin: 4px;
    box-shadow: 0 0 3px 1px #aaaaaa;
    margin-top: 5px;
}